# Copy this file to .env and fill in your Google Service Account credentials
# See SETUP.md for instructions

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_FOLDER_ID=1rKBETjUB8N__6kTBKZa-cwOCVDcBKmYP

PORT=3000
